.top-nav-account-modal-login-buttons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  border: 1px solid green;
  background-color: lightgray;
}